main {
    position: relative;
    min-height: 100vh;
}

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 15px;
    background: #ffffff;
    color: black;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -4px;
}

body, html {
    height: 100%}

html body.wide #wrapper.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 226px!important;/*Footer height*/
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .card-product {
        height: 100% !important;
    }

    .header-form {
        flex-direction: column;
    }

    .header-button {
        margin-top: 10px;
    }

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: grey;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



