main {
    position: relative;
    min-height: 100vh;
}

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    background-color: red;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 15px;
    background: #ffffff;
    color: black;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -4px;
}

body, html {
    height: 100%}

html body.wide #wrapper.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 226px!important;/*Footer height*/
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .card-product {
        height: 100% !important;
    }

    .header-form {
        flex-direction: column;
    }

    .header-button {
        margin-top: 10px;
    }

}
.overTss {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

.alert{
    display: none;
}

.button-contact {
    background: transparent;
    border: none !important;
    font-size:0;
}

.img-home {
    margin-right: 0;
    padding-right: 0;
}

.home-container {
    position: relative;
    text-align: center;
    color: white;

    background-image: url("https://wallpapercave.com/wp/wp2465235.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}

.banner-cover {
    background-color: rgba(0, 0, 0, 0.46);
    height: 100%;
}

/* Centered text */
.home-centered {
    font-size: 75px;
}

.home-centered2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
.home-image {
    height: 250px;
}

home_assortiment {
    font-size: 40px;
}

.product-full-d {
    width: 100%;
}
