main {
    position: relative;
    min-height: 100vh;
}

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 15px;
    background: #ffffff;
    color: black;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -4px;
}

body, html {
    height: 100%}

html body.wide #wrapper.container {
    min-height: 100%;
    position: relative;
    padding-bottom: 226px!important;/*Footer height*/
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .card-product {
        height: 100% !important;
    }

    .header-form {
        flex-direction: column;
    }

    .header-button {
        margin-top: 10px;
    }

}




