main {
    position: relative;
    min-height: 10vh;
}

html {
    position: relative;
    height: 100%;
}

body{
    position: relative;
    height: 100%;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 15px;
    background: #ffffff;
    color: black;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -4px;
}

body, html {
    height: 100%
}

footer {
    margin-top: 10px;
    padding-top: 10px;
    background-color: #222;
}





