main {
    position: relative;
    min-height: 10vh;
}

html {
    position: relative;
    height: 100%;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

#werkervaring, #opleidingen, #wiebenik {
    margin-top: 100%;
    padding-bottom: 25%;
}
